<div class="container" ng-controller="LoginCtrl">

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <h1>Decisions</h1>
      </div>
      <div class="col-md-4" style="padding-top: 6%;">
        <button class="btn btn-success" ng-click="toggleModal()">Sign Up</button>
      </div>
    </div>
  </div>

  <div>
      <form class="form col-md-10 center-block" id="sign-in" method="post" action="/sessions">
        <div class="form-group">
          <input type="text" name="username" class="form-control input-lg" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control input-lg" placeholder="Password" required>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
        </div>
      </form>

    <modal-dialog show='modalShown'>
      <form class="form col-md-10 center-block" id="sign-in" method="post" action="/users/new">
        <div class="form-group">
          <input type="text" name="user[username]" class="form-control input-lg" placeholder="Username" required>
        </div>
        <div class="form-group">
          <input type="password" name="user[password]" class="form-control input-lg" placeholder="Password" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" placeholder="Re-enter password" required>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
        </div>
      </form>
    </modal-dialog>
  </div>
</div>